body {
    background-color: #c2ddc4;
}

.main-layout {
    display: grid;
    min-height: 100vh;
    grid-template-areas: 
      'header'
      'content'
      'footer'
    ;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
}
/* header */
.col2{
    padding: 10px;
}
.col5{
    display: flex;
    flex-direction: row;
    align-items: center;
}
 .row2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} 
.col3{
    padding-right: 15%;
}

/* content */
.bestseller{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3%;
}
.bestselltitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    color: #013e6e;
}
.bestsellprice{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid black;
    background-color: white;
    text-align: center;
}
.solid{
    border: 1px solid black;
}
.bestsellpic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.korea2container{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.box{
    background-color: #f9f190;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    border: 1px solid black;
}

.p-4{display: flex;justify-content: center;align-items: center;}

.theme{
    color: #f7adad;
}
.countryname{
    color: #013e6e;
}
.pic{
    border-bottom:1px solid black ;
}
.seemore{   
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    margin-top:1%;
}
.howtouse{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
}
.htu{
    background-color: white;
    margin-top: 3%;
    border: 1px solid black;
}
.howtousetitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    color: #013e6e;
}
/* footer */
.row1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.col1{
    justify-content: center;
    align-items: center;
    padding: 10px;
}
/* pics */
.iconcart {
    height: 40px;
    width: 40px;
    }      
.iconsearch {
    height: 40px;
    width: 40px;
    }     
.iconlanguage {
    height: 40px;
    width: 40px;
    }     
.iconlogin{
    height: 40px;
    width: 40px;
    }   
    .icontiktok {
        height: 40px;
        width: 40px;
        }      
    .iconyoutube {
        height: 40px;
        width: 40px;
        }     
    .iconig {
        height: 40px;
        width: 40px;
        }     
    .iconfb{
        height: 40px;
        width: 40px;
        }  

.header {
    grid-area: header;
    float: right;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}




/* 透明度
.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 0.2;
}

.opacity-2 {
    opacity: 0.4;
}

.opacity-3 {
    opacity: 0.6;
}

.opacity-4 {
    opacity: 0.8;
}

.opacity-5 {
    opacity: 1;
} 
*/



.hr-header-line {
    margin: 25px auto 30px;
    padding: 0;
    width: 100px;
    border: 0;
    border-top: solid 6px;
    border-color: #6366F2;
    opacity: 1;
}

.hr-footer-line {
    margin: 25px auto 30px;
    padding: 0;
    width: 300;
    border: 0;
    border-top: solid 2px;
    border-color: #3e3f97;
    opacity: 1;
}

.text-color-1 {
    color: #000000;
}

